<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="starter"
      connectionString="Data Source=.;Initial Catalog=starter;Integrated Security=True"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation debug="false" targetFramework="4.0" xdt:Transform="Replace"/>
    <customErrors defaultRedirect="GenericError.htm" mode="Off" xdt:Transform="Replace">
      <error statusCode="500" redirect="InternalError.htm"/>
    </customErrors>
  </system.web>
</configuration>