<nav id="user">
    <ul class="settings">
        <li class="profile">
            <a href="/profile">Profile</a>
        </li>
        <li class="settings">
            <a href="/settings">Settings</a>
        </li>
        <li class="password">
            <a href="/password">Password</a>
        </li>
    </ul>
</nav>
