<nav class="side">
    <ul class="pages">
        <li class="users">
            <a href="/users/1">Information</a>
        </li>
        <li class="roles active">
            <a href="/users/1/roles">Permissions</a>
        </li>
        <li class="photos">
            <a href="/users/1/photos">Photos</a>
        </li>
    </ul>
    <ul class="actions">
        <li class="users">
            <a class="lock" href="/users/1/lock">Lock</a>
        </li>
        <li class="users">
            <a class="password" href="/users/1/password">Password</a>
        </li>
        <li class="users">
            <a class="archive" href="/users/1/archive">Archive</a>
        </li>
        <li class="photos">
            <a class="upload" href="/users/1/photos/new">Upload Photo</a>
        </li>
    </ul>
</nav>
