@{ Html.RenderPartial("Members/Menu"); }

@{ Html.RenderPartial("Member"); }

<div class="content">
    @{ Html.RenderPartial("Members/Actions"); }

    <section>
        <fieldset>
            <label>First Name</label>
            <input type="text" />

            <label>Last Name</label>
            <input type="text" />

            <input type="submit" value="Save&rarr;" />
        </fieldset>
    </section>
</div>
