<nav class="users secondary">
    <ul>
        <li class="users">
            <input class="search" placeholder="Search for users&rarr;" />
        </li>
        <li class="users">
            <a class="recent" href="/users/recent">Recent</a>
        </li>
        <li class="users">
            <a class="favourites" href="/users/favourites">Favourites</a>
        </li>
        <li class="users">
            <a class="archived" href="/users/archived">Archived</a>
        </li>
    </ul>
</nav>
