<nav class="users secondary">
    <ul>
        <li class="users">
            <input class="search" placeholder="Search for users&rarr;" />
        </li>
        <li class="users">
            @Html.ActionLink("Recent", "recent", new { @class = "recent" })
        </li>
        <li class="users">
            @Html.ActionLink("Favourites", "favourites", new { @class = "favourites" })
        </li>
        <li class="users">
            @Html.ActionLink("Archived", "archived", new { @class = "archived" })
        </li>
    </ul>
</nav>
