<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>@ViewBag.Title</title>
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    <link rel="stylesheet/less" media="screen" href="/public/css/main.less" />
    <script src="http://lesscss.googlecode.com/files/less-1.0.35.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        less.env = "development";
        less.watch();
    </script>
    	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    
    <script type="text/javascript" src="http://use.typekit.com/nqi0jby.js"></script>
    <script type="text/javascript"> try { Typekit.load(); } catch (e) { } </script>
</head>
<body>
    <div id="wrap">    
        <header>
            <hgroup>
                <h1>packrafting scotland</h1>
                <nav id="account">
                    <ul>
                        <li><a href="join">join in</a></li>
                        <li><a href="signin" class="first">sign in</a></li>
                    </ul>
                </nav>
            </hgroup>
        </header>       
    
        <div id="container">
            <div id="nav">
                <nav id="main">
                    <ul>
                        <li><a href="trips">trips</a></li>
                        <li class="selected"><a href="routes">routes</a></li>
                        <li><a href="gear">gear</a></li>
                        <li><a href="rafters">rafters</a></li>
                    </ul>
                </nav>
                <div id="search">
                    <form action="/search"><input id="search_for" name="search_for" size="20" type="text" value="search..." /></form>
                </div>
            </div>
            
            <section id="content">
                Main
                @RenderBody()       
            </section>
            <aside id="sidebar">
               Sidebar
            </aside>
        </div>
        
        <footer>
            <div id="footer-wrap">
                <span id="copyright">&copy; Copyright @DateTime.Today.Year Packrafting Scotland</span>
                <span>Powered by <a href="//appharbor.com">AppHarbor</a> + <a href="//mongohq.com">MongoHQ</a></span>
                <nav id="support">
                    <ul>
                        <li><a href="legal">legal</a></li>
                        <li><a href="contact" class="first">contact</a></li>
                    </ul>
                </nav>
            </div>
        </footer>
    </div>
</body>
</html>