<nav class="side">
    <ul class="pages">
        <li>
            <a href="/users/1">Information</a>
        </li>
        <li class="active">
            <a href="/users/1/roles">Permissions</a>
        </li>
    </ul>
    <ul class="actions">
        <li>
            <a href="/users/1/lock">Lock</a>
        </li>
        <li>
            <a href="/users/1/password">Password</a>
        </li>
        <li>
            <a href="/users/1/archive">Archive</a>
        </li>
    </ul>
</nav>
