<nav class="users secondary">
    <ul>
        <li>
            <input class="search" placeholder="Search for users&rarr;" />
        </li>
        <li>
            <a href="/users/recent">Recent</a>
        </li>
        <li class="active">
            <a href="/users/favourites">Favourites</a>
        </li>
        <li>
            <a href="/users/archived">Archived</a>
        </li>
    </ul>
</nav>
