<nav class="side">
    <ul class="pages">
        <li>
            <a href="/organisations/1">Information</a>
        </li>
        <li class="active">
            <a class="active" href="/organisations/1/permissions">Security</a>
        </li>
        <li>
            <a href="/organisations/1/locations">Locations</a>
        </li>
    </ul>
    <ul class="actions">
        <li>
            <a href="/organisations/1/archive">Archive</a>
        </li>
    </ul>
</nav>
