<nav class="side">
    <ul class="pages">
        <li class="organisations">
            <a href="/organisations/1">Information</a>
        </li>
        <li class="permissions active">
            <a class="active" href="/organisations/1/permissions">Security</a>
        </li>
        <li class="locations">
            <a href="/organisations/1/locations">Locations</a>
        </li>
    </ul>
    <ul class="actions">
        <li class="organisations">
            <a class="archive" href="/organisations/1/archive">Archive</a>
        </li>
        <li class="locations">
            <a class="new" href="/organisations/1/locations/new">Add Location</a>
        </li>
        <li class="permissions">
            <a class="new" href="/organisations/1/permissions/new">Add Role</a>
        </li>
    </ul>
</nav>
