<nav class="secondary">
    <ul>
        <li>
            <input class="search" placeholder="Search for organisations&rarr;" />
        </li>
        <li class="organisations">
            <a class="recent" href="/organisations/recent">Recent</a>
        </li>
        <li class="organisations active">
            <a class="favourites" href="/organisations/favourites">Favourites</a>
        </li>
        <li class="organisations">
            <a class="archived" href="/organisations/archived">Archived</a>
        </li>
    </ul>
</nav>
