<nav class="organisations secondary">
    <ul>
        <li>
            <input class="search" placeholder="Search for organisations&rarr;" />
        </li>
        <li>
            <a href="/organisations/recent">Recent</a>
        </li>
        <li class="active">
            <a href="/organisations/favourites">Favourites</a>
        </li>
        <li>
            <a href="/organisations/archived">Archived</a>
        </li>
    </ul>
</nav>
