@model OrganisationViewModel

@{ Html.RenderPartial("Administration/Organisations/Menu"); }

@{ Html.RenderPartialWithData("Organisation", Model, new { @class = "item" }); }

<div class="content">
    @{ Html.RenderPartial("Actions", Model); }

    @{ Html.RenderPartial("Form", Model); }    
</div>
