<div id="dialog">
    <span class="message info"></span>
    <span class="message warning"></span>
    <span class="message error"></span>
    <span class="message loading"></span>
    <a class="close">close</a>
</div>
