<footer class="eleven columns offset-by-three">
    <span id="colophon">
        Engineered by <a href="http://perceptal.co.uk/">Perceptal Web Labs</a> &copy @DateTime.Today.Year
    </span>

    <nav>
        <ul>
            <li class="support">
                <a href="/support">Legal</a>
            </li>
            <li class="aboutus">
                <a href="/about">About</a>
            </li>
            <li class="contactus">
                <a href="/contactus">Contact</a>
            </li>
            <li class="help">
                <a href="/help">Help</a>
            </li>
        </ul>
    </nav>
</footer>
