<header class="row half-bottom">
    <h2 id="home" class="home three columns alpha remove-bottom">
        <a href="/">Starter App</a>
    </h2>

    @{ Html.RenderPartial("../Search/Search"); }
    @{ Html.RenderPartial("../Sessions/Links"); }
</header>