<nav id="main">
    <ul class="users">
        <li class="users" data-area="users">
            <a href="/users">Users</a>
        </li>
        <li class="organisations" data-area="organisations">
            <a href="/administration/organisations">Administration</a>
        </li>
        <li class="home" data-area="home">
            <a class="contact" href="/contact">Contact Us</a>
        </li>
        <li class="loading">Loading...</li>
    </ul>
</nav>
