<nav id="main">
    <ul class="user">
        <li class="user" data-area="user">
            <a href="/dashboard">Dashboard</a>
        </li>
        <li class="members" data-area="members">
            <a href="/members">Members</a>
        </li>
        <li class="organisations" data-area="organisations">
            <a href="/administration/organisations">Administration</a>
        </li>
    </ul>
</nav>
