@model Core.Web.Page

<nav id="main">
    <ul>
        <li class="users">
            <a href="/members">Members</a>
        </li>
        <li class="organisations">
            <a href="/administration/organisations">Administration</a>
        </li>
        <li class="contactus">
            <a href="/contactus">Contact Us</a>
        </li>
        <li class="loading">Loading...</li>
    </ul>
</nav>
