<nav id="user">
    <ul>
        <li class="user">
            <a href="/user">Profile</a>
        </li>
        <li class="user">
            <a class="settings" href="/user/settings">Settings</a>
        </li>
        <li class="user">
            <a class="password" href="/user/password">Password</a>
        </li>
    </ul>
</nav>
